In [246]:
import pandas as pd
import os
import psycopg2


#path = 'C:/GitHub/Proyecto_Final_BI/'
path = ""

Lectura de archivos

In [247]:
# funci√≥n dada en clase
def load_data(filename):
    """ Load dataset from filename
    Args:
        filename (string): Path to data
        
    Returns:
        df (DataFrame): Dataset from file
    """
    df = pd.read_csv(filename)
    return df

filename = os.path.join(path,'Benefits_Cost_Sharing_PUF.csv')
Benefits_CostSharing = load_data(filename)

filename = os.path.join(path,'Business_Rules_PUF.csv')
Business_Rules = load_data(filename)

filename = os.path.join(path,'Plan_Attributes_PUF.csv')
Plan_Attributes = load_data(filename)

filename = os.path.join(path,'Rate_PUF.csv')
Rate = load_data(filename)

/var/folders/nc/msnr18q57_bfryvsdz5vb_w00000gn/T/ipykernel_2844/278177419.py:10: DtypeWarning: Columns (9,12,19) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filename)
/var/folders/nc/msnr18q57_bfryvsdz5vb_w00000gn/T/ipykernel_2844/278177419.py:10: DtypeWarning: Columns (27,64,80,81,82,86,87,88,89,90,91,111,122,123,124,125,147,148) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filename)

In [248]:
Benefits_CostSharing = Benefits_CostSharing[['StateCode', 'IssuerId', 'StandardComponentId', 'PlanId', 'BenefitName', 
                                            'CopayInnTier1', 'CopayInnTier2', 'CopayOutofNet', 'CoinsInnTier1', 'CoinsInnTier2',
                                            'CoinsOutofNet', 'IsEHB', 'IsCovered', 'QuantLimitOnSvc', 'LimitQty','LimitUnit', 'Exclusions']]
Benefits_CostSharing.columns

Index(['StateCode', 'IssuerId', 'StandardComponentId', 'PlanId', 'BenefitName',
       'CopayInnTier1', 'CopayInnTier2', 'CopayOutofNet', 'CoinsInnTier1',
       'CoinsInnTier2', 'CoinsOutofNet', 'IsEHB', 'IsCovered',
       'QuantLimitOnSvc', 'LimitQty', 'LimitUnit', 'Exclusions'],
      dtype='object')

In [249]:
Business_Rules = Business_Rules[['StateCode', 'IssuerId', 'MedicalDentalBoth', 'StandardComponentId',
                                 'MaximumUnderageDependent', 'MarketCoverage',
                                 'DentalOnlyPlan']]
Business_Rules.columns

Index(['StateCode', 'IssuerId', 'MedicalDentalBoth', 'StandardComponentId',
       'MaximumUnderageDependent', 'MarketCoverage', 'DentalOnlyPlan'],
      dtype='object')

In [250]:
Plan_Attributes = Plan_Attributes[['StateCode', 'IssuerId', 'IssuerMarketPlaceMarketingName', 
                                   'MarketCoverage', 'StandardComponentId', 'PlanMarketingName', 'IsNewPlan', 'MetalLevel', 
                                   'ChildOnlyOffering', 'DiseaseManagementProgramsOffered',
                                   'EHBPercentTotalPremium', 'PlanId',
                                   'IssuerActuarialValue', 'IsHSAEligible']]
Plan_Attributes.columns

Index(['StateCode', 'IssuerId', 'IssuerMarketPlaceMarketingName',
       'MarketCoverage', 'StandardComponentId', 'PlanMarketingName',
       'IsNewPlan', 'MetalLevel', 'ChildOnlyOffering',
       'DiseaseManagementProgramsOffered', 'EHBPercentTotalPremium', 'PlanId',
       'IssuerActuarialValue', 'IsHSAEligible'],
      dtype='object')

In [251]:
Rate = Rate[['StateCode', 'IssuerId','PlanId','Age', 'IndividualRate', 'Couple',
       'PrimarySubscriberAndOneDependent', 'PrimarySubscriberAndTwoDependents',
       'PrimarySubscriberAndThreeOrMoreDependents', 'CoupleAndOneDependent',
       'CoupleAndTwoDependents', 'CoupleAndThreeOrMoreDependents' ]]
Rate.columns

Index(['StateCode', 'IssuerId', 'PlanId', 'Age', 'IndividualRate', 'Couple',
       'PrimarySubscriberAndOneDependent', 'PrimarySubscriberAndTwoDependents',
       'PrimarySubscriberAndThreeOrMoreDependents', 'CoupleAndOneDependent',
       'CoupleAndTwoDependents', 'CoupleAndThreeOrMoreDependents'],
      dtype='object')

La tabla de Business Rules PUF puede ser el primer filtro

In [252]:
Business_Rules.head(10)

,StateCode,IssuerId,MedicalDentalBoth,StandardComponentId,MaximumUnderageDependent,MarketCoverage,DentalOnlyPlan
0,AK,21989,Dental,21989AK0030001,3,Individual,Yes
1,AK,21989,Dental,21989AK0030051,3,SHOP (Small Group),Yes
2,AK,21989,Dental,21989AK0030052,3,SHOP (Small Group),Yes
3,AK,21989,Dental,21989AK0040051,3,SHOP (Small Group),Yes
4,AK,21989,Dental,21989AK0040052,3,SHOP (Small Group),Yes
5,AK,21989,Dental,21989AK0040053,3,SHOP (Small Group),Yes
6,AK,21989,Dental,21989AK0040054,3,SHOP (Small Group),Yes
7,AK,21989,Dental,21989AK0040055,3,SHOP (Small Group),Yes
8,AK,21989,Dental,21989AK0050001,3,Individual,Yes
9,AK,21989,Dental,21989AK0050002,3,Individual,Yes

In [253]:
Business_Rules.StateCode.unique()

array(['AK', 'AL', 'AZ', 'FL', 'GA', 'IN', 'LA', 'MO', 'MS', 'NC', 'OK',
       'TX', 'WI', 'IA', 'ND', 'SC', 'TN', 'WY', 'AR', 'DE', 'HI', 'IL',
       'NE', 'NH', 'OH', 'KS', 'MI', 'MT', 'OR', 'SD', 'UT', 'VA', 'WV'],
      dtype=object)

Virginia: 8642274 VA
Arizona: 7276316 AZ
Tennesse: 6975218 TN

In [254]:
Business_Rules[Business_Rules["MedicalDentalBoth"] == 'Both']

,StateCode,IssuerId,MedicalDentalBoth,StandardComponentId,MaximumUnderageDependent,MarketCoverage,DentalOnlyPlan
75,AL,46944,Both,46944AL0280001,3,SHOP (Small Group),No
76,AL,46944,Both,46944AL0340001,3,SHOP (Small Group),No
77,AL,46944,Both,46944AL0370001,3,Individual,No
78,AL,46944,Both,46944AL0380001,3,SHOP (Small Group),No
79,AL,46944,Both,46944AL0410001,3,Individual,No
...,...,...,...,...,...,...,...
7321,VA,41921,Both,41921VA0020071,3,Individual,No
7322,VA,41921,Both,41921VA0020072,3,Individual,No
7323,VA,41921,Both,41921VA0020073,3,Individual,No
7324,VA,41921,Both,41921VA0020074,3,Individual,No
7325,VA,41921,Both,41921VA0020075,3,Individual,No

In [255]:
Business_Rules = Business_Rules[(Business_Rules.StateCode.isin(['TX','FL','IL','OH','NC','GA','MI','VA','AZ','TN'])) & (Business_Rules.MedicalDentalBoth != 'Dental')]

In [256]:
Business_Rules.StateCode.unique()

array(['AZ', 'FL', 'GA', 'NC', 'TX', 'TN', 'IL', 'OH', 'MI', 'VA'],
      dtype=object)

In [257]:
Rate = Rate[Rate.PlanId.isin(Business_Rules.StandardComponentId)]

In [258]:
Rate.StateCode.unique()

array(['AZ', 'FL', 'GA', 'NC', 'TN', 'TX', 'IL', 'MI', 'OH', 'VA'],
      dtype=object)

In [259]:
Rate.head()

,StateCode,IssuerId,PlanId,Age,IndividualRate,Couple,PrimarySubscriberAndOneDependent,PrimarySubscriberAndTwoDependents,PrimarySubscriberAndThreeOrMoreDependents,CoupleAndOneDependent,CoupleAndTwoDependents,CoupleAndThreeOrMoreDependents
65110,AZ,13877,13877AZ0070002,0-14,200.78,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65111,AZ,13877,13877AZ0070002,15,218.63,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65112,AZ,13877,13877AZ0070002,16,225.45,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65113,AZ,13877,13877AZ0070002,17,232.28,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65114,AZ,13877,13877AZ0070002,18,239.63,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [260]:
Plan_Attributes = Plan_Attributes[Plan_Attributes.StandardComponentId.isin(Business_Rules.StandardComponentId)]

In [261]:
Plan_Attributes.StateCode.unique()

array(['AZ', 'FL', 'GA', 'IL', 'MI', 'NC', 'OH', 'TN', 'TX', 'VA'],
      dtype=object)

In [262]:
Plan_Attributes.ChildOnlyOffering.unique()

array(['Allows Adult and Child-Only', 'Allows Child-Only',
       'Allows Adult-Only'], dtype=object)

In [263]:
Benefits_CostSharing = Benefits_CostSharing[Benefits_CostSharing.StandardComponentId.isin(Business_Rules.StandardComponentId)]

In [264]:
Benefits_CostSharing[Benefits_CostSharing["PlanId"] == "19898FL0340008-01"]["CopayInnTier1"].unique()

array(['No Charge after deductible', nan, 'No Charge'], dtype=object)

In [265]:
state = {'StateCode': ['AZ', 'FL', 'GA', 'IL', 'MI', 'NC', 'OH', 'TN', 'TX', 'VA'], 'StateName': ["Arizona", "Florida", "Georgia", "Illinois", "Michigan", "NorthCarolina", "Ohio", "Tennessee", "Texas", "Virginia"]}
state = pd.DataFrame(data=state)
state

  StateCode      StateName
0        AZ        Arizona
1        FL        Florida
2        GA        Georgia
3        IL       Illinois
4        MI       Michigan
5        NC  NorthCarolina
6        OH           Ohio
7        TN      Tennessee
8        TX          Texas
9        VA       Virginia

Proceso de imputaciones

In [266]:
Benefits_CostSharing.IsEHB.unique()

array(['Yes', nan], dtype=object)

In [267]:
Benefits_CostSharing = Benefits_CostSharing.fillna("No")

In [268]:
Benefits_CostSharing.IsEHB.unique()

array(['Yes', 'No'], dtype=object)

In [269]:
for i in Plan_Attributes.columns:
    nas = Plan_Attributes[i].isna().sum()
    if nas>0:
        print("{0:<20}  {1}".format(i,nas))

DiseaseManagementProgramsOffered  2664
EHBPercentTotalPremium  276
IssuerActuarialValue  12498
IsHSAEligible         128

In [270]:
Plan_Attributes.fillna({'IsHSAEligible': "No"}, inplace=True)

In [271]:
for i in Plan_Attributes.columns:
    nas = Plan_Attributes[i].isna().sum()
    if nas>0:
        print("{0:<20}  {1}".format(i,nas))

DiseaseManagementProgramsOffered  2664
EHBPercentTotalPremium  276
IssuerActuarialValue  12498

In [272]:
Plan_Attributes['IssuerActuarialValue'] = Plan_Attributes.iloc[:,12:-1].apply(lambda x: x.str.replace('%', '')).astype(float)
Plan_Attributes.dtypes

StateCode                            object
IssuerId                              int64
IssuerMarketPlaceMarketingName       object
MarketCoverage                       object
StandardComponentId                  object
PlanMarketingName                    object
IsNewPlan                            object
MetalLevel                           object
ChildOnlyOffering                    object
DiseaseManagementProgramsOffered     object
EHBPercentTotalPremium              float64
PlanId                               object
IssuerActuarialValue                float64
IsHSAEligible                        object
dtype: object

In [273]:
Plan_Attributes.loc[Plan_Attributes['MetalLevel'] == 'Catastrophic', 'IssuerActuarialValue'] = Plan_Attributes.loc[Plan_Attributes['MetalLevel'] == 'Catastrophic', 'IssuerActuarialValue'].fillna(Plan_Attributes[Plan_Attributes['MetalLevel'] == 'Catastrophic']['IssuerActuarialValue'].mean())
Plan_Attributes.loc[Plan_Attributes['MetalLevel'] == 'Bronze', 'IssuerActuarialValue'] = Plan_Attributes.loc[Plan_Attributes['MetalLevel'] == 'Bronze', 'IssuerActuarialValue'].fillna(Plan_Attributes[Plan_Attributes['MetalLevel'] == 'Bronze']['IssuerActuarialValue'].mean())
Plan_Attributes.loc[Plan_Attributes['MetalLevel'] == 'Expanded Bronze', 'IssuerActuarialValue'] = Plan_Attributes.loc[Plan_Attributes['MetalLevel'] == 'Expanded Bronze', 'IssuerActuarialValue'].fillna(Plan_Attributes[Plan_Attributes['MetalLevel'] == 'Expanded Bronze']['IssuerActuarialValue'].mean())
Plan_Attributes.loc[Plan_Attributes['MetalLevel'] == 'Gold', 'IssuerActuarialValue'] = Plan_Attributes.loc[Plan_Attributes['MetalLevel'] == 'Gold', 'IssuerActuarialValue'].fillna(Plan_Attributes[Plan_Attributes['MetalLevel'] == 'Gold']['IssuerActuarialValue'].mean())
Plan_Attributes.loc[Plan_Attributes['MetalLevel'] == 'Silver', 'IssuerActuarialValue'] = Plan_Attributes.loc[Plan_Attributes['MetalLevel'] == 'Silver', 'IssuerActuarialValue'].fillna(Plan_Attributes[Plan_Attributes['MetalLevel'] == 'Silver']['IssuerActuarialValue'].mean())
Plan_Attributes.loc[Plan_Attributes['MetalLevel'] == 'Platinum', 'IssuerActuarialValue'] = Plan_Attributes.loc[Plan_Attributes['MetalLevel'] == 'Platinum', 'IssuerActuarialValue'].fillna(Plan_Attributes[Plan_Attributes['MetalLevel'] == 'Platinum']['IssuerActuarialValue'].mean())
Plan_Attributes.loc[Plan_Attributes['MetalLevel'] == 'Low', 'IssuerActuarialValue'] = Plan_Attributes.loc[Plan_Attributes['MetalLevel'] == 'Low', 'IssuerActuarialValue'].fillna(Plan_Attributes[Plan_Attributes['MetalLevel'] == 'Low']['IssuerActuarialValue'].mean())
Plan_Attributes.loc[Plan_Attributes['MetalLevel'] == 'High', 'IssuerActuarialValue'] = Plan_Attributes.loc[Plan_Attributes['MetalLevel'] == 'High', 'IssuerActuarialValue'].fillna(Plan_Attributes[Plan_Attributes['MetalLevel'] == 'High']['IssuerActuarialValue'].mean())

In [274]:
Plan_Attributes[Plan_Attributes["IssuerActuarialValue"].isna()]["MetalLevel"].unique()

array(['Catastrophic', 'High'], dtype=object)

In [275]:
for i in Plan_Attributes.columns:
    nas = Plan_Attributes[i].isna().sum()
    if nas>0:
        print("{0:<20}  {1}".format(i,nas))

DiseaseManagementProgramsOffered  2664
EHBPercentTotalPremium  276
IssuerActuarialValue  307

In [276]:
Plan_Attributes.fillna({'IssuerActuarialValue': 0.0}, inplace=True)

In [277]:
for i in Plan_Attributes.columns:
    nas = Plan_Attributes[i].isna().sum()
    if nas>0:
        print("{0:<20}  {1}".format(i,nas))

DiseaseManagementProgramsOffered  2664
EHBPercentTotalPremium  276

In [278]:
Plan_Attributes.fillna({'EHBPercentTotalPremium': Plan_Attributes["EHBPercentTotalPremium"].mean()}, inplace=True)

In [279]:
for i in Plan_Attributes.columns:
    nas = Plan_Attributes[i].isna().sum()
    if nas>0:
        print("{0:<20}  {1}".format(i,nas))

DiseaseManagementProgramsOffered  2664

In [280]:
Plan_Attributes.fillna({'DiseaseManagementProgramsOffered': ""}, inplace=True)

In [281]:
for i in Plan_Attributes.columns:
    nas = Plan_Attributes[i].isna().sum()
    if nas>0:
        print("{0:<20}  {1}".format(i,nas))

In [282]:
for i in Rate.columns:
    nas = Rate[i].isna().sum()
    if nas>0:
        print("{0:<20}  {1}".format(i,nas))

Couple                1209465
PrimarySubscriberAndOneDependent  1209465
PrimarySubscriberAndTwoDependents  1209465
PrimarySubscriberAndThreeOrMoreDependents  1209465
CoupleAndOneDependent  1209465
CoupleAndTwoDependents  1209465
CoupleAndThreeOrMoreDependents  1209465

In [283]:
Rate.Age.unique()

array(['0-14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24',
       '25', '26', '27', '28', '29', '30', '31', '32', '33', '34', '35',
       '36', '37', '38', '39', '40', '41', '42', '43', '44', '45', '46',
       '47', '48', '49', '50', '51', '52', '53', '54', '55', '56', '57',
       '58', '59', '60', '61', '62', '63', '64 and over'], dtype=object)

In [284]:
Rate.loc[Rate['Age'] == '0-14', 'Age'] = '14'
Rate.loc[Rate['Age'] == '64 and over', 'Age'] = '64'

In [285]:
Rate['Age'] = Rate['Age'].astype(int)
Rate.Age.unique()

array([14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30,
       31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47,
       48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64])

* an√°lisis corto

In [286]:
Plan_Attributes.MetalLevel.unique()

array(['Expanded Bronze', 'Silver', 'Catastrophic', 'Gold', 'Bronze',
       'Platinum', 'Low', 'High'], dtype=object)

In [287]:
# orden peor a mejor
# Catastrophic: 0.0
# High: 0.0
# Low: 70.152
# Bronze: 70.6125
# Expanded Bronze: 73.154
# Silver: 80.967
# Gold: 84.588
# Platinum: 92.965
#Plan_Attributes[(Plan_Attributes['MetalLevel'] == "Platinum")]["IssuerActuarialValue"].mean()#& (~Plan_Attributes['IssuerActuarialValue'].isna())]

In [295]:
Business_Rules.StandardComponentId.nunique()

3941

In [297]:
Plan_Attributes.PlanId.nunique()

19188

In [ ]:
# SELECE BR.StateCode, BR.StandardComponentId, PA.PlanId, PA.MetalLevel, 
    # PA.PlanMarketingName, PA.IsNewPlan, BA.MaximumUnderageDependent, BA.MarketCoverge, 
    # PA.ChildOnlyOffering, PA.DiseaseManagementProgramsOffered, PA.EHBPercentTotalPremium, PA.IsHSAEligible
# FROM Business_Rule BR
# JOIN Plan_Attributes PA
# ON BR.StandardComponentId = PA.StandardComponentId

In [305]:
Planes = Business_Rules.merge(Plan_Attributes,left_on='StandardComponentId', right_on='StandardComponentId', how='inner')[["StateCode_x", "StandardComponentId", "PlanId", "MetalLevel",  "PlanMarketingName", "IsNewPlan", "MaximumUnderageDependent", "MarketCoverage_y", "ChildOnlyOffering", "DiseaseManagementProgramsOffered", "EHBPercentTotalPremium", "IsHSAEligible"]]

In [306]:
Planes

,StateCode_x,StandardComponentId,PlanId,MetalLevel,PlanMarketingName,IsNewPlan,MaximumUnderageDependent,MarketCoverage_y,ChildOnlyOffering,DiseaseManagementProgramsOffered,EHBPercentTotalPremium,IsHSAEligible
0,AZ,13877AZ0070002,13877AZ0070002-01,Expanded Bronze,Bronze Classic- PCP Saver,Existing,3,Individual,Allows Adult and Child-Only,"Asthma, Heart Disease, Depression, Diabetes, H...",1.0000,No
1,AZ,13877AZ0070002,13877AZ0070002-02,Expanded Bronze,Bronze Classic- PCP Saver,Existing,3,Individual,Allows Adult and Child-Only,"Asthma, Heart Disease, Depression, Diabetes, H...",1.0000,No
2,AZ,13877AZ0070002,13877AZ0070002-00,Expanded Bronze,Bronze Classic- PCP Saver,Existing,3,Individual,Allows Adult and Child-Only,"Asthma, Heart Disease, Depression, Diabetes, H...",1.0000,No
3,AZ,13877AZ0070002,13877AZ0070002-03,Expanded Bronze,Bronze Classic- PCP Saver,Existing,3,Individual,Allows Adult and Child-Only,"Asthma, Heart Disease, Depression, Diabetes, H...",1.0000,No
4,AZ,13877AZ0070003,13877AZ0070003-01,Expanded Bronze,Bronze Classic,Existing,3,Individual,Allows Adult and Child-Only,"Asthma, Heart Disease, Depression, Diabetes, H...",1.0000,No
...,...,...,...,...,...,...,...,...,...,...,...,...
19183,VA,95185VA0530023,95185VA0530023-06,Silver,KP VA Standard Silver 5800/40/Vision,New,3,Individual,Allows Adult and Child-Only,"Asthma, Heart Disease, Depression, Diabetes, H...",0.9887,No
19184,VA,95185VA0530024,95185VA0530024-03,Expanded Bronze,KP VA Standard Expanded Bronze 7500/50/Vision,New,3,Individual,Allows Adult and Child-Only,"Asthma, Heart Disease, Depression, Diabetes, H...",0.9887,No
19185,VA,95185VA0530024,95185VA0530024-02,Expanded Bronze,KP VA Standard Expanded Bronze 7500/50/Vision,New,3,Individual,Allows Adult and Child-Only,"Asthma, Heart Disease, Depression, Diabetes, H...",0.9887,No
19186,VA,95185VA0530024,95185VA0530024-00,Expanded Bronze,KP VA Standard Expanded Bronze 7500/50/Vision,New,3,Individual,Allows Adult and Child-Only,"Asthma, Heart Disease, Depression, Diabetes, H...",0.9887,No
19187,VA,95185VA0530024,95185VA0530024-01,Expanded Bronze,KP VA Standard Expanded Bronze 7500/50/Vision,New,3,Individual,Allows Adult and Child-Only,"Asthma, Heart Disease, Depression, Diabetes, H...",0.9887,No

In [316]:
#select airport_ident, type, description, frequency_mhz from airport_freq join airports on airport_freq.airport_ref = airports.id where airports.ident = 'KLAX'
#airport_freq.merge(airports[airports.ident == 'KLAX'][['id']], left_on='airport_ref', right_on='id', how='inner')[['airport_ident', 'type', 'description', 'frequency_mhz']]

Planes_beneficios = Planes.merge(Benefits_CostSharing[Benefits_CostSharing["IsCovered"] == 'Covered'], left_on="PlanId", right_on="PlanId", how='inner')[['PlanId', 'BenefitName', 'IsEHB', 'IsCovered']]

In [320]:
import pandas as pd

# create a sample dataframe
df = pd.DataFrame({'A': [1, 2, 3],
                   'B': [4, 5, 6]})

# rename the columns
df = df.rename(columns={'A': 'Column1', 'B': 'Column2'})

# print the renamed dataframe
print(df)

   Column1  Column2
0        1        4
1        2        5
2        3        6

In [321]:
Rate = Rate.rename(columns={'PlanId': 'StandardComponentId_PlanId'})

In [323]:
Planes.merge(Rate,left_on="StandardComponentId", right_on="StandardComponentId_PlanId", how='inner')[["StandardComponentId", 'Age', 'IndividualRate']]

        StandardComponentId  Age  IndividualRate
0            13877AZ0070002   14          200.78
1            13877AZ0070002   15          218.63
2            13877AZ0070002   16          225.45
3            13877AZ0070002   17          232.28
4            13877AZ0070002   18          239.63
...                     ...  ...             ...
5303332      95185VA0530024   63          737.29
5303333      95185VA0530024   63          737.29
5303334      95185VA0530024   64          749.28
5303335      95185VA0530024   64          749.28
5303336      95185VA0530024   64          749.28

[5303337 rows x 3 columns]

In [ ]:
#Proceso de determinar posibles planes
rango 20-25 a√±os
rango 0-10,000 ingreso anual
rango 0-833 ingreso mensual
rango 0-83
Obtener todos los StandardComponentid (unicos) que: (age>=20 y age<=25) y (IndivialRate>=0 y IndivialRate<=83)
En la tabla planes, traer todos los planes de esos StandardComponentID 

# criterio para escoger el plan
Se basa en lo que tiene la tabla Planes y Planes_beneficios

Insert de tablas en la base de datos

In [22]:
import psycopg2
import psycopg2.extras as extras
import pandas as pd


def execute_values(conn, df, table):

	tuples = [tuple(x) for x in df.to_numpy()]

	cols = ','.join(list(df.columns))
	finish = True
	coma = 0
	cont = 0
	cols_final = '"'
	cols += ","
	while(finish):
		coma = cols.find(",", cont)
		if coma == -1:
			finish = False
			cols_final = cols_final[:-2]
		else:
			var = cols[cont:coma]
			cont = coma + 1
			cols_final += var
			cols_final += '","'


	print(cols_final)
	# SQL query to execute
	query = "INSERT INTO %s(%s) VALUES %%s" % (table, cols_final)
	cursor = conn.cursor()
	try:
		extras.execute_values(cursor, query, tuples)
		conn.commit()
	except (Exception, psycopg2.DatabaseError) as error:
		print("Error: %s" % error)
		conn.rollback()
		cursor.close()
		return 1
	print("execute_values() done")
	cursor.close()

Insert tabla State

In [23]:
# establishing connection
conn = psycopg2.connect(
  database="proyectoBI",
  user='postgres', 
  password='admin', 
  host='localhost', 
  port= '5432'
)
sql = '''DELETE FROM public."States";'''
  
#creating a cursor
cursor = conn.cursor()
cursor.execute(sql)
conn.commit()
data = state
# using the function defined
execute_values(conn, data, 'public."States"')
conn.close()

"StateCode","StateName"
execute_values() done

Insert tabla Bussiness Rules

In [32]:
Business_Rules_prueba = Business_Rules[["StateCode", "IssuerId", "MedicalDentalBoth","StandardComponentId"]]
Business_Rules = Business_Rules.drop(columns=['SourceName'])

In [34]:
# establishing connection
conn = psycopg2.connect(
  database="proyectoBI",
  user='postgres', 
  password='admin', 
  host='localhost', 
  port= '5432'
)
sql = '''DELETE FROM public."businessRules";'''
  
#creating a cursor
cursor = conn.cursor()
cursor.execute(sql)
conn.commit()
data = Business_Rules
# using the function defined
execute_values(conn, data, 'public."businessRules"')
conn.close()

"StateCode","IssuerId","MedicalDentalBoth","StandardComponentId","MaximumUnderageDependent","DependentMaximumAgRule","MarketCoverage","DentalOnlyPlan"
execute_values() done

Insert tabla Benefits_CostSharing

In [36]:
Benefits_CostSharing_prueba = Benefits_CostSharing[["StateCode", "IssuerId", "StandardComponentId", "PlanId"]]
Benefits_CostSharing = Benefits_CostSharing.drop(columns=['SourceName'])

In [38]:
# establishing connection
conn = psycopg2.connect(
  database="proyectoBI",
  user='postgres', 
  password='admin', 
  host='localhost', 
  port= '5432'
)
sql = '''DELETE FROM public."benefitsCostSharing";'''
  
#creating a cursor
cursor = conn.cursor()
cursor.execute(sql)
conn.commit()
data = Benefits_CostSharing
# using the function defined
execute_values(conn, data, 'public."benefitsCostSharing"')
conn.close()

"StateCode","IssuerId","StandardComponentId","PlanId","BenefitName","CopayInnTier1","CopayInnTier2","CopayOutofNet","CoinsInnTier1","CoinsInnTier2","CoinsOutofNet","IsEHB","IsCovered","QuantLimitOnSvc","LimitQty","LimitUnit","Exclusions"
execute_values() done

Insert tabla Rate

In [43]:
Rate.columns

Index(['StateCode', 'IssuerId', 'PlanId', 'RatingAreaId', 'Tobacco', 'Age',
       'IndividualRate', 'IndividualTobaccoRate', 'Couple',
       'PrimarySubscriberAndOneDependent', 'PrimarySubscriberAndTwoDependents',
       'PrimarySubscriberAndThreeOrMoreDependents', 'CoupleAndOneDependent',
       'CoupleAndTwoDependents', 'CoupleAndThreeOrMoreDependents'],
      dtype='object')

In [42]:
Rate.dtypes

StateCode                                     object
IssuerId                                       int64
PlanId                                        object
RatingAreaId                                  object
Tobacco                                       object
Age                                           object
IndividualRate                               float64
IndividualTobaccoRate                        float64
Couple                                       float64
PrimarySubscriberAndOneDependent             float64
PrimarySubscriberAndTwoDependents            float64
PrimarySubscriberAndThreeOrMoreDependents    float64
CoupleAndOneDependent                        float64
CoupleAndTwoDependents                       float64
CoupleAndThreeOrMoreDependents               float64
dtype: object

In [40]:
Rate_prueba = Rate[["StateCode", "IssuerId", "PlanId"]]
Rate = Rate.drop(columns=['SourceName'])

In [53]:
# establishing connection
conn = psycopg2.connect(
  database="proyectoBI",
  user='postgres', 
  password='admin', 
  host='localhost', 
  port= '5432'
)
sql = '''DELETE FROM public."Rate";'''
  
#creating a cursor
cursor = conn.cursor()
cursor.execute(sql)
conn.commit()
data = Rate
# using the function defined
execute_values(conn, data, 'public."Rate"')
conn.close()

"StateCode","IssuerId","PlanId","RatingAreaId","Tobacco","Age","IndividualRate","IndividualTobaccoRate","Couple","PrimarySubscriberAndOneDependent","PrimarySubscriberAndTwoDependents","PrimarySubscriberAndThreeOrMoreDependents","CoupleAndOneDependent","CoupleAndTwoDependents","CoupleAndThreeOrMoreDependents"
execute_values() done

Insert tabla Plan Attributes

In [48]:
Plan_Attributes.columns

Index(['StateCode', 'IssuerId', 'IssuerMarketPlaceMarketingName',
       'MarketCoverage', 'StandardComponentId', 'PlanMarketingName',
       'IsNewPlan', 'PlanType', 'MetalLevel', 'ChildOnlyOffering',
       'DiseaseManagementProgramsOffered', 'EHBPercentTotalPremium',
       'PlanEffectiveDate', 'PlanExpirationDate', 'PlanId',
       'IssuerActuarialValue', 'IsHSAEligible'],
      dtype='object')

In [49]:
Plan_Attributes.dtypes

StateCode                            object
IssuerId                              int64
IssuerMarketPlaceMarketingName       object
MarketCoverage                       object
StandardComponentId                  object
PlanMarketingName                    object
IsNewPlan                            object
PlanType                             object
MetalLevel                           object
ChildOnlyOffering                    object
DiseaseManagementProgramsOffered     object
EHBPercentTotalPremium              float64
PlanEffectiveDate                    object
PlanExpirationDate                   object
PlanId                               object
IssuerActuarialValue                 object
IsHSAEligible                        object
dtype: object

In [47]:
Plan_Attributes_prueba = Plan_Attributes[["StateCode", "IssuerId", "IssuerMarketPlaceMarketingName", "MarketCoverage", "StandardComponentId"]]
Plan_Attributes = Plan_Attributes.drop(columns = ['SourceName'])

In [52]:
# establishing connection
conn = psycopg2.connect(
  database="proyectoBI",
  user='postgres', 
  password='admin', 
  host='localhost', 
  port= '5432'
)
sql = '''DELETE FROM public."planAttributes";'''
  
#creating a cursor
cursor = conn.cursor()
cursor.execute(sql)
conn.commit()
data = Plan_Attributes
# using the function defined
execute_values(conn, data, 'public."planAttributes"')
conn.close()

"StateCode","IssuerId","IssuerMarketPlaceMarketingName","MarketCoverage","StandardComponentId","PlanMarketingName","IsNewPlan","PlanType","MetalLevel","ChildOnlyOffering","DiseaseManagementProgramsOffered","EHBPercentTotalPremium","PlanEffectiveDate","PlanExpirationDate","PlanId","IssuerActuarialValue","IsHSAEligible"
execute_values() done